@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

[dir="rtl"]:root {
  --main-color-one: #23702a;
  --heading-color: #030519;
  --paragraph-color: #727777;
  --para-color-two: #484848;
  --heading-font: "Tajawal", sans-serif !important;
  --body-font: "Tajawal", sans-serif !important;
  --animate-delay: 0.3s;
}

[dir="rtl"] *:not(i) {
  font-family: var(--body-font);
}

[dir="rtl"] .baner-slider {
  direction: ltr;
}

[dir="rtl"] .row {
  flex-direction: row;
}

[dir="rtl"] .baner-content {
  text-align: right;
}
[dir="rtl"] .baner-content p {
  margin-right: 0px;
}

[dir="rtl"] .info-items li + li {
  margin-right: 20px;
  margin-left: 0px;
}

[dir="rtl"] .topbar-inner .right-contnet ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

[dir="rtl"] .topbar-inner .right-contnet ul li img {
  margin-right: 0px;
  margin-left: 10px;
}

[dir="rtl"] .topbar-inner .left-content .social-icon ul {
  padding-right: 0px;
}

[dir="rtl"] .social-icon li + li {
  margin-left: 0px;
  margin-right: 10px;
}

[dir="rtl"] .topbar-inner .left-content .social-icon ul li img {
  margin-right: 0px;
  margin-left: 10px;
}

[dir="rtl"]
  .navbar-area.navigation-style-01
  .custom-container
  .nav-right-content {
  margin-left: 0px;
  margin-right: 30px;
}

[dir="rtl"]
  .navbar-area.navigation-style-01
  .custom-container
  .nav-right-content
  ul {
  padding: 0px;
  text-align: right;
}

[dir="rtl"]
  .navbar-area
  .custom-container
  .navbar-collapse
  .navbar-nav
  li
  + li {
  margin-left: 0px;
  margin-right: 30px;
}

[dir="rtl"]
  .navbar-area.navigation-style-01
  .custom-container
  .navbar-collapse
  .navbar-nav
  li.menu-item-has-children
  .sub-menu
  li
  a {
  text-align: start;
}

[dir="rtl"] .site-text {
  right: -350px;
}

[dir="rtl"] .service-single-item-2 .details h4 {
  text-align: left;
  font-size: 18px;
}

[dir="rtl"] .baner-subtitle {
  letter-spacing: 0;
  margin-top: 15px;
}

[dir="rtl"] .theme-heading-title,
[dir="rtl"] .service-wrapperr {
  text-align: right;
}

[dir="rtl"] .service-wrapperr .btn_01::before {
  left: unset;
  right: 110%;
}

[dir="rtl"] .theme-heading-title .subtitle {
  font-size: 24px;
}

[dir="rtl"] .gallery-menu ul {
  direction: ltr;
}

[dir="rtl"] .team-area {
  direction: ltr;
}

[dir="rtl"] .theme-heading-title .subtitle img {
  margin-right: 10px;
  margin-left: 0px;
  transform: rotate(180deg);
}

[dir="rtl"] .quote-message {
  flex-direction: row;
}

[dir="rtl"] .quote-message p {
  text-align: right;
  line-height: 1.5;
}

[dir="rtl"] .single-core-value {
  flex-direction: row;
}

[dir="rtl"] .single-core-value p {
  margin-right: 10px;
}

[dir="rtl"] .list-item-wrap.list-item-wrap-01 {
  padding-top: 20px;
  width: 100%;
}

[dir="rtl"] .list-item-wrap ul li {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .list-item-wrap ul li {
  display: flex;
  align-items: center;
}

[dir="rtl"] .list-item-wrap ul li .style-dot,
[dir="rtl"] .list-item-wrap ul li .style-bar {
  margin: 0px;
  margin-left: 5px;
}

[dir="rtl"] .history-wrapper {
  -webkit-box-shadow: 20px 6px 35px 0px rgb(14 44 16 / 39%);
  box-shadow: 20px 6px 35px 0px rgb(14 44 16 / 39%);
}

[dir="rtl"] .history-wrapper::before {
  right: -90px;
  left: unset;
  width: 120px;
  z-index: -1;
}

[dir="rtl"] .awards-box {
  width: 50%;
  margin-right: unset;
  margin-left: 30px;
  text-align: right;
}

[dir="rtl"] .media.contact-info-box.icon-box-item {
  flex-direction: row;
}

[dir="rtl"] .media.contact-info-box.icon-box-item .icon-wrap-inner .icon {
  margin-right: 0px;
  margin-left: 10px;
}

[dir="rtl"] .video-wrapper {
  text-align: right;
}

[dir="rtl"] .btn-wrap .read-btn {
  direction: rtl;
  display: flex;
  align-items: center;
  gap: 10px;
}

[dir="rtl"] .btn-wrap .read-btn span {
  margin: 0px;
}

[dir="rtl"] .video-footer-part {
  direction: rtl;
}

[dir="rtl"] .team-area .subtitle {
  justify-content: center;
}

[dir="rtl"] .gallary-area .subtitle {
  justify-content: center;
}

[dir="rtl"] .gallery-menu ul li .tag {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

[dir="rtl"] .gallery-menu ul li .tag .style-animate-dot-wrap {
  margin: 0;
}

[dir="rtl"] .blog-area .subtitle {
  justify-content: center;
}

[dir="rtl"] .single-blog-item-inner .details {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] .widget.footer-widget {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] .widget.footer-widget .widget-headline {
  padding-right: 25px;
  padding-left: 0px;
}

[dir="rtl"] .widget.footer-widget .widget-headline:after {
  top: 5px;
  left: unset;
  right: -5px;
}

[dir="rtl"] .footer-widget.widget.widget_nav_menu ul li {
  padding-right: 20px;
  padding-left: 0px;
}

[dir="rtl"] .footer-widget.widget.widget_nav_menu ul li::after {
  left: unset;
  right: 0px;
}

[dir="rtl"] .about_me_widget.style-01 p {
  margin-top: 10px;
}

[dir="rtl"] .breadcrumb-inner {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .breadcrumb-area .breadcrumb-inner .breadcrumb-menu li {
  margin-right: 0px;
  margin-left: 10px;
}

[dir="rtl"] .breadcrumb-area .breadcrumb-inner .breadcrumb-menu .bullet-04,
[dir="rtl"] .breadcrumb-area .breadcrumb-inner .breadcrumb-menu .bullet-03 {
  margin-right: 0px;
  margin-left: 10px;
}

[dir="rtl"] .breadcrumb-area .breadcrumb-inner .breadcrumb-menu .bullet-03 {
  margin-right: 10px;
}

[dir="rtl"] .intro-icon-box-3 .icon-wrap {
  left: 35px;
  right: unset;
}

[dir="rtl"] .content {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] .single-input-inner input,
[dir="rtl"] .single-input-inner.style-border textarea {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] .single-input-inner label {
  left: unset;
  right: 10px;
}

[dir="rtl"] .about-text .about-text-left {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] .about-text .about-heighlight {
  padding-left: 0;
  padding-right: 20px;
}

[dir="rtl"] .about-text .about-heighlight::before {
  left: unset;
  right: 0px;
}

[dir="rtl"] .history-slider-one .history-details .year-wrap i {
  margin-right: 20px;
  margin-left: 0px;
  transform: rotate(180deg);
}

[dir="rtl"] .service-single-item .details .read-btn {
  right: unset;
  left: 18px;
  transform: rotate(180deg);
}

[dir="rtl"] .theme-heading-title .subtitle.shape .icon-right {
  margin-right: 20px;
  margin-left: 0px;
  transform: rotate(180deg);
}

[dir="rtl"] .theme-heading-title .subtitle.shape .icon-right i {
  font-size: 16px;
}

[dir="rtl"] .why-choose-two {
  direction: rtl;
}

[dir="rtl"] .baner-title {
  display: inline;
}

[dir="rtl"] .widget > h1,
[dir="rtl"] .widget > h2,
[dir="rtl"] .widget > h3,
[dir="rtl"] .widget > h4,
[dir="rtl"] .widget > h5,
[dir="rtl"] .widget > h6,
[dir="rtl"] .widget .widget-headline {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] .widget > h1::before,
[dir="rtl"] .widget > h2::before,
[dir="rtl"] .widget > h3::before,
[dir="rtl"] .widget > h4::before,
[dir="rtl"] .widget > h5::before,
[dir="rtl"] .widget > h6::before,
[dir="rtl"] .widget .widget-headline::before {
  left: unset;
  right: -25px;
}

[dir="rtl"] .case-single-wrap .case-title,
[dir="rtl"]
  .blog-single-content-wrap
  p:not(.has-large-font-size, .wp-block-cover-text) {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] .process-wrap .process-headline {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] img {
  object-fit: contain;
}

[dir="rtl"] .theme-recent-post-wrap li.theme-recent-post-item {
  flex-direction: row;
}

[dir="rtl"] .theme-recent-post-wrap li.theme-recent-post-item .thumb {
  margin-left: 15px;
  margin-right: 0px;
}

[dir="rtl"]
  .navbar-area
  .custom-container
  .navbar-collapse
  .navbar-nav
  li.menu-item-has-children
  .sub-menu
  li {
  margin: 0;
}

[dir="rtl"] .typewriter-ar {
  direction: ltr;
}

[dir="rtl"] .bullet {
  transform: rotate(180deg);
}

[dir="rtl"] .team-area .bullet {
  transform: rotate(0deg) !important;
}

[dir="rtl"] .slick-slider {
  direction: ltr;
}

[dir="rtl"] .projects-img {
  background-image: url(../../assets/img/projects/project.svg);
}

[dir="rtl"] .alzawahed-numbers {
  background-image: url(../../assets/img/section-img/about/alzawahed-numbers.svg);
}
