@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

:root {
  --main-color-one: #23702a;
  --heading-color: #030519;
  --paragraph-color: #727777;
  --para-color-two: #484848;
  --heading-font: "Tajawal", sans-serif;
  --body-font: "Tajawal", sans-serif;
  --animate-delay: 0.3s;
}

.header-style-02,
.baner-content {
  direction: rtl;
}

.row {
  flex-direction: row-reverse;
}

.baner-content {
  text-align: right;
}
.baner-content p {
  margin-right: 0px;
}

.info-items li + li {
  margin-right: 20px;
  margin-left: 0px;
}

.topbar-inner .right-contnet ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar-inner .right-contnet ul li img {
  margin-right: 0px;
  margin-left: 10px;
}

.topbar-inner .left-content .social-icon ul {
  padding-right: 0px;
}

.social-icon li + li {
  margin-left: 0px;
  margin-right: 10px;
}

.topbar-inner .left-content .social-icon ul li img {
  margin-right: 0px;
  margin-left: 10px;
}

.navbar-area.navigation-style-01 .custom-container .nav-right-content {
  margin-left: 0px;
  margin-right: 30px;
}

.navbar-area.navigation-style-01 .custom-container .nav-right-content ul {
  padding: 0px;
  text-align: right;
}

.navbar-area .custom-container .navbar-collapse .navbar-nav li + li {
  margin-left: 0px;
  margin-right: 30px;
}

.site-text {
  right: -350px;
}

.baner-subtitle {
  letter-spacing: 0;
}

.theme-heading-title,
.service-wrapperr {
  text-align: right;
}

.service-wrapperr .btn_01::before {
  left: unset;
  right: 110%;
}

.theme-heading-title .subtitle {
  font-size: 24px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.theme-heading-title .subtitle img {
  margin-right: 10px;
  margin-left: 0px;
  transform: rotate(180deg);
}

.quote-message {
  flex-direction: row-reverse;
}

.quote-message p {
  text-align: right;
  line-height: 1.5;
}

.single-core-value {
  flex-direction: row-reverse;
}

.single-core-value p {
  margin-right: 10px;
}

.list-item-wrap.list-item-wrap-01 {
  padding-top: 20px;
  width: 100%;
}

.list-item-wrap ul li {
  direction: rtl;
  text-align: right;
}

.list-item-wrap ul li {
  display: flex;
  align-items: center;
}

.list-item-wrap ul li .style-dot,
.list-item-wrap ul li .style-bar {
  margin: 0px;
  margin-left: 5px;
}

.history-wrapper {
  -webkit-box-shadow: 20px 6px 35px 0px rgb(14 44 16 / 39%);
  box-shadow: 20px 6px 35px 0px rgb(14 44 16 / 39%);
}

.history-wrapper::before {
  right: -90px;
  left: unset;
  width: 120px;
  z-index: -1;
}

.awards-box {
  width: 50%;
  margin-right: unset;
  margin-left: 30px;
  text-align: right;
}

.media.contact-info-box.icon-box-item {
  flex-direction: row-reverse;
}

.media.contact-info-box.icon-box-item .icon-wrap-inner .icon {
  margin-right: 0px;
  margin-left: 10px;
}

.video-wrapper {
  text-align: right;
}

.btn-wrap .read-btn {
  direction: rtl;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-wrap .read-btn span {
  margin: 0px;
}

.video-footer-part {
  direction: rtl;
}

.team-area .subtitle {
  justify-content: center;
}

.gallary-area .subtitle {
  justify-content: center;
}

.gallery-menu ul li .tag {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.gallery-menu ul li .tag .style-animate-dot-wrap {
  margin: 0;
}

.gallary-area {
  background: var(--heading-color) !important;
  padding-top: 50px;
  margin: 0;
}

.gallary-area .theme-heading-title .title {
  color: #fff;
}

.blog-area .subtitle {
  justify-content: center;
}

.single-blog-item-inner .details {
  text-align: right;
  direction: rtl;
}

.widget.footer-widget {
  text-align: right;
  direction: rtl;
}

.widget.footer-widget .widget-headline {
  padding-right: 25px;
  padding-left: 0px;
}

.widget.footer-widget .widget-headline:after {
  top: 5px;
  left: unset;
  right: -5px;
}

.footer-widget.widget.widget_nav_menu ul li {
  padding-right: 20px;
  padding-left: 0px;
}

.footer-widget.widget.widget_nav_menu ul li::after {
  left: unset;
  right: 0px;
}

.about_me_widget.style-01 p {
  margin-top: 10px;
}

.breadcrumb-inner {
  direction: rtl;
  text-align: right;
}

.breadcrumb-area .breadcrumb-inner .breadcrumb-menu li {
  margin-right: 0px;
  margin-left: 10px;
}

.breadcrumb-area .breadcrumb-inner .breadcrumb-menu .bullet-04,
.breadcrumb-area .breadcrumb-inner .breadcrumb-menu .bullet-03 {
  margin-right: 0px;
  margin-left: 10px;
}

.breadcrumb-area .breadcrumb-inner .breadcrumb-menu .bullet-03 {
  margin-right: 10px;
}

.about .navbar-area {
  background-color: #03051999 !important;
}

.contact .navbar-area {
  background-color: #03051999 !important;
}

.intro-icon-box-3 .icon-wrap {
  left: 35px;
  right: unset;
}

.content {
  text-align: right;
  direction: rtl;
}

.single-input-inner input,
.single-input-inner.style-border textarea {
  text-align: right;
  direction: rtl;
}

.about-text .about-text-left {
  text-align: right;
  direction: rtl;
}

.about-text .about-heighlight {
  padding-left: 0;
  padding-right: 20px;
}

.about-text .about-heighlight::before {
  left: unset;
  right: 0px;
}

.history-slider-one .history-details .year-wrap i {
  margin-right: 20px;
  margin-left: 0px;
  transform: rotate(180deg);
}

.service-single-item .details .read-btn {
  right: unset;
  left: 18px;
  transform: rotate(180deg);
}

.theme-heading-title .subtitle.shape .icon-right {
  margin-right: 20px;
  margin-left: 0px;
  transform: rotate(180deg);
}

.theme-heading-title .subtitle.shape .icon-right i {
  font-size: 16px;
}

.why-choose-two {
  direction: rtl;
}

.baner-title {
  display: inline;
}
.typed-cursor {
  font-size: 95px;
  background: unset;
  color: #fff;
}

.widget > h1,
.widget > h2,
.widget > h3,
.widget > h4,
.widget > h5,
.widget > h6,
.widget .widget-headline {
  text-align: right;
  direction: rtl;
}

.widget > h1::before,
.widget > h2::before,
.widget > h3::before,
.widget > h4::before,
.widget > h5::before,
.widget > h6::before,
.widget .widget-headline::before {
  left: unset;
  right: -25px;
}

.case-single-wrap .case-title,
.blog-single-content-wrap p:not(.has-large-font-size, .wp-block-cover-text) {
  text-align: right;
  direction: rtl;
}


.process-wrap .process-headline{
  text-align: right;
  direction: rtl;
}

img{
  object-fit: contain;
}